* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
    height: 40px;
    padding: 10px 20px;
    width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}


.wrapper button {
  width: 100%;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
}

.datagrid,
.items-list {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.items-list li {
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr))
}

.items-list li .heading {
  font-weight: bold;
}

.items-list li .delete {
  cursor: pointer;
}

.items-list li > span {
  padding: 5px;
  border: 1px solid #ccc;
  margin-left: -1px;
  margin-top: -1px;
}

.items-list .no-data  {
  grid-template-columns: repeat(1,minmax(0,1fr));
  margin-top: 0px;
}
